torch==1.13.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.10.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
transformers
gunicorn
wordcloud
matplotlib
pandas
Flask
jinja2